@import "~@/styles/theme/colors";

$themes: cream light dark rust !default;

@mixin UI_THEMES_EXTEND( $themes: $themes ){
  @each $theme in $themes {
    &_#{$theme} {
      @extend %#{$theme} !optional;
      &_translucent {
        @extend %#{$theme}, %#{$theme}_translucent !optional;
      }
    }
  }
}

%cream {
  @extend .UiTheme;
  color: Color(slate);
  background: Color(cream);
}
%cream_translucent {
  color: Color(slate);
  background: rgba(Color(cream),.99);
}

%light {
  @extend .UiTheme;
  color: Color(slate);
  background: Color(light);
}
%light_translucent {
  color: Color(slate);
  background: rgba(Color(light),.99);
}

%dark {
  @extend .UiTheme;
  color: Color(silver);
  background: Color(dark);
}
%dark_translucent {
  color: Color(silver);
  background: rgba(Color(dark),.99);
}

%rust {
  @extend .UiTheme;
  color: Color(light);
  background: Color(alt);
}
%rust_translucent {
  color: Color(light);
  background: rgba(Color(alt),.99);
}

.UiTheme {
  & {
    transition: 0s ease-out;
  }
  & { @include UI_THEMES_EXTEND; }
}