%layout-wrap {
  display: block;
  margin: 0 auto;
  padding: 1px 1em;
}

%wrap,
.wrap {
  & {
    @extend %layout-wrap;
    width: 72rem;
  }
  &_mid {
    @extend %layout-wrap;
    width: 54rem;
  }
  &_min {
    @extend %layout-wrap;
    width: 36rem;
  }
  &_flex {
    flex: 0 1 72rem;
    &_mid { flex: 0 1 54rem }
    &_min { flex: 0 1 36rem }
  }
}

%layout-wrap {
  max-width: 100%;
  box-sizing: border-box;
  & & { padding: 0 }
}
