%wraps {
  &Default {
    display: block;
    margin: 0 auto;
    // padding: 1px 1em;
  }
  &Flexbox {
    flex-grow: 0;
    flex-shrink: 1;
  }
}

%wrap,
.wrap {
  & {
    @extend %wraps, %wrapsDefault;
    width: 72rem;
  }
  &_mid {
    @extend %wraps, %wrapsDefault;
    width: 54rem;
  }
  &_min {
    @extend %wraps, %wrapsDefault;
    width: 36rem;
  }
  &_flex {
    & {
      @extend %wraps, %wrapsFlexbox;
      flex-basis: 72rem;
    }
    &_mid {
      @extend %wraps, %wrapsFlexbox;
      flex-basis: 54rem;
    }
    &_min {
      @extend %wraps, %wrapsFlexbox;
      flex-basis: 36rem;
    }
  }
}

%wraps {
  max-width: 100%;
  box-sizing: border-box;
  & & { padding: 0 }
}