@import "~@/styles/theme/breaks";

%wraps {
  margin: 0 auto;
  &Default {
    display: block;
  }
  &Flexbox {
    @include Break( min-width Breaks(3) ){
      flex-grow: 0 !important;
      flex-shrink: 1 !important;
    }
  }
}

%wrap,
.wrap {
  & {
    @extend %wraps, %wrapsDefault;
    width: 72rem;
  }
  &_mid {
    @extend %wraps, %wrapsDefault;
    width: 54rem;
  }
  &_min {
    @extend %wraps, %wrapsDefault;
    width: 36rem;
  }
  &_tiny {
    @extend %wraps, %wrapsDefault;
    width: 23rem;
  }
  &_flex {
    &, &_mid, &_min, &_tiny {
      @extend %wraps, %wrapsFlexbox;
    }
    @include Break( min-width Breaks(3) ){
      // TODO: set these styles inside the following class wrap
      //       to test this fix for wrappers in stacked UiBoxes
      // :not(.UiBoxImage):not(.UiBox_stack) & {}
        & {     flex-basis: 72rem !important }
        &_mid { flex-basis: 54rem !important }
        &_min { flex-basis: 36rem !important }
        &_tiny{ flex-basis: 23rem !important }
    }
  }
}

%wraps {
  max-width: 100%;
  box-sizing: border-box;
  & & { padding: 0 }
}

p[class*="wrap"] {
  margin: 0 auto 0 0;
}