$legible: 42em;

$sizes:
  16pt
  20pt
  28pt
  36pt
  48pt
  72pt;

@function Size( $n:false ){
  @if( $n ){
    @return nth($sizes,$n);
  }
  @return nth($sizes,1);
}

@for $x from 1 through 6 {
  h#{$x} {
    font-size: Size(-$x);
  }
}