.targetList {

  $counter: "ol-counter";
  $target-size: 2em;
  
  counter-reset: #{$counter};
  list-style: none;

  & > * {
    position: relative;
    padding: 1rem 0;
    & + * {
      padding-top: 2rem;
      border-top: 1px solid Color(theme);
    }
    &:before {

      counter-increment: #{$counter};
      content: counter(#{$counter});
    
      position: absolute;
      right: 100%;
    
      display: inline-flex;
      justify-content: center;
      align-items: center;
    
      box-sizing: border-box;
      width: $target-size;
      height: $target-size;
      margin: -($target-size / 4) 1rem 0;
      padding: 1px 0 0 1px;
    
      color: #FFF;
      background: #b99453;
      border-radius: 100%;
      border: 4px double currentColor;
      box-shadow: inset 0 0 0 .1em currentColor;
    
      font-size: 1.6em;
      font-weight: 300;
      
      @media (max-width: 1275px) {
        position: unset;
        float: right;
        margin: 2rem 0 1rem 2rem;
      }
    }
  }
}


