# Project
#
dist/
temp/

# Private
#
.env*

#=System=>
#
node_modules

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.stats-serve.json

.DS_Store

#=Editor=>
#
.vscode
*.sublime-*
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*