@import "~@/styles/theme/breaks";

%UiBox {
  align-self: stretch;
  padding: 3rem;
  max-width: 100%;
  &_center {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  &.wrap {
    padding-left: 0;
    padding-right: 0;
  }
  @include Break( max-width Breaks(-1)){
    padding: 2rem;
  }
  @include Break( max-width Breaks(2)){
    padding: 1rem;
  }
}

%UiBox_minh {
  min-height: 42vh;
}

%UiBox_compact {

  padding: 2rem 1.5rem !important;
  
  @media ( max-width:800px ) {
    padding: 2rem 1.5rem;
  }
  
}
