@import "~@/styles/theme/colors";
@import "~@/styles/theme/breaks";

%UiBox {
  & {
    position: relative;

    align-self: stretch;
    padding: 5rem 4rem;
    max-width: 100%;
    overflow: hidden;
  }
  &_center {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  &.wrap {
    padding-left: 0;
    padding-right: 0;
  }
  @include Break( max-width Breaks(-1)){
    padding: 7rem 4rem;
  }
  @include Break( max-width Breaks(2)){
    padding: 5rem 2.5rem;
  }
}

%UiBox_minh {
  min-height: 42vh;
}

%UiBox_compact {

  padding: 2rem 1.5rem !important;
  
  @media ( max-width:800px ) {
    padding: 2rem 1.5rem;
  }
  
}
