%UiBox {
  align-self: stretch;
  padding: 4em;
  &_center {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
}

%UiBox_minh {
  min-height: 42vh;
}

%UiBox_compact {

  padding: 2em 1.5em !important;
  
  @media ( max-width:800px ) {
    padding: 2em 1.5em;
  }
  
}
