@import "./wp.topBar.css";
@import "./acf.group.noMove.css";

.vineyard-quote-box textarea {
  resize: none;
  max-width: 33em;
  padding: 0.5em;
  font-size: 12pt;
  font-family: Georgia, serif;
  font-style: italic;
  line-height: 1.6;
  color: #BA9454;
  border: none;
  box-shadow: none;
  margin: -15px 0 -20px 0;
  padding: 20px 0 20px 10px;
}