@import "~@/styles/theme/breaks";

// set global
$_: '' !default;

@mixin BreakClass( $mq: max-width ){
  
  // data
  $screens: (
    tablet:  4,
    mobile:  2, 
  );
  
  // loop
  @each $c, $q in $screens {
    $_: $c !global; // update globals
    &_#{$c} {
      @include Break( $mq Breaks($q) ){
        @content
      }
    }
  };

  // reset globals
  $_: '' !global;
}