$c-black: #0e0e0e;
$c-matte: invert($c-black,99.5%);
$c-theme: #BA9454;
$c-alt:   #CB3E3D; // original: #7D1214

$colors:(
  dark:    $c-black, // #0E0E0E
  slate:   lighten($c-black,15%), // #323232,
  silver:  lighten($c-black,67%), // #B8B8B8
  cream:   lighten(desaturate(adjust-hue($c-theme,7deg),14),42), // #F5F3ED,
  light:   mix( white, $c-matte, 69% ), // #F6F4EE
  matte:   $c-matte, // #F0F0F0
  
  theme:   $c-theme, // #BA9454
  alt:     $c-alt,
);

@function Color($key) {
  $color: map-get($colors,$key);
  @return $color;
}