@import "~@/styles/theme/breaks";
@import "~@/styles/theme/scale";
@import "~@/styles/theme/fonts";

:root {
  font-size: $root;
  @include Break( min-width (Breaks(4) + Breaks(2)) ){
    font-size: $root + 1.5pt;
  }
  @include Break( max-width Breaks(4) ){
    font-size: $root - 1pt;
  }
  @include Break( max-width Breaks(2) ){
    font-size: $root - 1.5pt;
  }
}

html, body {
  margin: 0;
  padding: 0;
}
html {
  font-family: "futura-pt", Futura, sans-serif;
  text-size-adjust: 100%;
}
body {
  font-size: 100%;
  line-height: 2;
}

h1, h2, h3, h4, h5, h6{
  line-height: 1.2;
  margin: unset;
}
img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

p, ul, ol, dl, figure, blockquote {
  margin: 1rem 0;
}

pre, code {
  font-family: $ff-mono;
}

@import "./elements/all";
@import "./elements/hr";
@import "./elements/blockquote";
@import "./elements/table";
@import "./elements/article";