@import "~@/styles/config/scale";
@import "~@/styles/config/fonts";

:root {
  font-size: $root;
  @media (max-width:68rem){
    font-size: calc(12pt + .33vmin);
  }
}

* {
  box-sizing: border-box;
  margin: unset;
  padding: unset;
}

html, body {
  margin: 0;
  padding: 0;
}
html {
  font-family: "futura-pt", Futura, sans-serif;
}
body {
  font-size: 1em;
  line-height: 2;
}

h1, h2, h3, h4, h5, h6{
  line-height: 1.2;
  margin: unset;
}
img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

p, ul, ol, dl, figure, blockquote {
  margin: 1rem 0;
}

pre, code {
  font-family: $ff-mono;
}

@media (min-width:0) {

  // 
  // CSS Staging Area
  // 
  
  .UiBox > *:only-child:not([class]) {
    max-width: 34rem;
    margin: 0 auto;
  }
  
}